{% extends "template/main/template.twig" %}
{% block content %}
<div class="content-page">
    <main id="main" class="site-main uk-margin-bottom">
		<div class="uk-container uk-container-large">
			<div class="uk-card uk-card-default uk-card-body post-list">
				{% if leng == 'ru' %}
				<h2 class="uk-heading-divider uk-text-center uk-margin-bottom">{{ post.title }}</h2>
				<p class="uk-text-center uk-margin-bottom">{{ post.content }}, <a href="{{ home }}">перейти на главную</a>.</p>
				{% else %}
				<h2 class="uk-heading-divider uk-text-center uk-margin-bottom">{{ post.meta('title_en') }}</h2>
				<p class="uk-text-center uk-margin-bottom">{{ post.meta('content_en') }}, <a href="{{ home }}">go to the main page</a>.</p>
				{% endif %}
			</div>
		</div>
    </main>
</div>
{% endblock %}